* {
  box-sizing: border-box;
}

#container {
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 5px 20px;
  border: 1px solid #000;
  width: 350px;
  margin: 150px auto;
  text-align: center;
}

body {
  background-color: #fff;
}

input {
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  border: none;
}

#celsius {
  margin-left: 19px;
}

#celsius2 {
  margin-left: 19px;
}

div {
  text-align: left;
}

#convert1 {
  width: 120px;
  padding: 10px;
}

#convert2 {
  width: 120px;
  padding: 10px;
}

label {
  margin-right: 70px;
}

form {
  display: inline-block;
}
